*{
  margin: 0;
  box-sizing: border-box;
}
.calculator{
  background-color:   #d9d9d9;
  padding: 20px;
  max-width: 300px;
  margin: 150px auto;
  border: solid 1px #514f4f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
#result{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}
button{
  padding: 10px;
  font-size: 20px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover{
  background-color: #33ff98;
}
.clear{
  font-size: 20px;
  background-color: #676363;
  color: #fff;
}
.number, .decimal{
  font-size: 25px;
  background-color: #676363;
  color: #fff;
}
.operator{
  font-size: 25px;
  background-color: #676363;
  color: #fff;
}
.equals{
  font-size: 25px;
  background-color: #ff7c01;
  grid-row: span 0;
  color: #fff;
}
.module{
  font-size: 20px;
  background-color: #676363;
  color: #fff;
}
.backspace{
  font-size: 25px;
  background-color: #676363;
  color: #fff;
}
